html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Área segura do celular */
.app-safe-area {
    min-height: 100dvh;
    padding-top: env(safe-area-inset-top, 16px);
    padding-bottom: env(safe-area-inset-bottom, 16px);
    padding-left: env(safe-area-inset-left, 0px);
    padding-right: env(safe-area-inset-right, 0px);
    box-sizing: border-box;
}